<form id="blogForm">
<div class="mb-2">
  <label for="exampleFormControlInput1" class="form-label">Title</label>
  <input type="text" class="form-control" id="title" placeholder="Title">
</div>
<div class="mb-2">
  <label for="exampleFormControlTextarea1" class="form-label">Body</label>
  <textarea class="form-control" id="body" rows="3"></textarea>
</div>
</form>