{{!-- {{#each blogPosts as |data| }} --}}
<section class="card">
  <header>
  <div class="card-header">
    {{blogPosts.title}} Post 
    <div>by:{{blogPosts.user.name}}</div>
  </div>
    </header>
    <p>{{{blogPosts.body}}}</p>
    <section>{{{blogPosts.createdAt}}}</section> 
    <p id="comment">example comment</p>
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Comment</span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
   </div>
</section>
{{!-- {{/each}} --}}
